{% extends 'skeleton.html' %}
{% load static %}

{% block styles %}
<style>
    .widget .catagories-menu li a.active {
        color: 
        #fbb710;
    }

    .section-padding-100 {
        padding-top: 80px;
    }
</style>
{% endblock %}

{% block main %}
    <div class="shop_sidebar_area">
        

        <!-- ##### Single Widget ##### -->
        <div class="widget catagory mb-50">
            <!-- Widget Title -->
            <h6 class="widget-title mb-30">Catagories</h6>

            <!--  Catagories  -->
            <div class="catagories-menu">
                <ul>
                    {% for category in categories %}
                        <li class="" >
                            <a href="#" class="category-links" @click="categoryFilter" data-category="{{ category.name }}">{{ category.name }}</a>
                        </li>   
                    {% endfor %}                 
                </ul>
            </div>
        </div>

        <!-- ##### Single Widget ##### -->
        <div class="widget brands mb-50">
            <!-- Widget Title -->
            <h6 class="widget-title mb-30">Brands</h6>

            <div class="widget-desc">
                {% for brand in brands %}
                <!-- Single Form Check -->
                <div class="form-check">
                    <input @click="brandsFilter" class="form-check-input" type="checkbox" value="{{brand.name}}" id="brand-{{brand.id}}" v-model='checkedBrands'>
                    <label class="form-check-label" for="brand-{{brand.id}}">{{ brand.name }}</label>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </div>

    <div class="amado_product_area section-padding-100">
        <div class="container-fluid">

            <div class="row">
                <!-- search -->
                <div class="col-12">
                    <div class="search-content pb-3">
                        <input @keyup="searchProducts" class="form-control" type="search" name="search" id="search" placeholder="Type to search ...">
                    </div>
                </div>
                <!-- /search -->
            </div>

            <!-- <div class="row">
                <div class="col-12">
                    <div class="product-topbar d-xl-flex align-items-end justify-content-between">
                        <div class="total-products">
                            <p>Showing 1-8 0f 25</p>
                            <div class="view d-flex">
                                <a href="#"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-sorting d-flex">
                            <div class="sort-by-date d-flex align-items-center mr-15">
                                <p>Sort by</p>
                                <form action="#" method="get">
                                    <select name="select" id="sortBydate">
                                        <option value="value">Date</option>
                                        <option value="value">Newest</option>
                                        <option value="value">Popular</option>
                                    </select>
                                </form>
                            </div>
                            <div class="view-product d-flex align-items-center">
                                <p>View</p>
                                <form action="#" method="get">
                                    <select name="select" id="viewProduct">
                                        <option value="value">12</option>
                                        <option value="value">24</option>
                                        <option value="value">48</option>
                                        <option value="value">96</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="row" id="productsUrl" data-url="{% url 'shop:products-list'  %}">
    
                <!-- Single Product Area -->                
                <div 
                v-for="product in products"
                :key="product.id"            
                class="col-12 col-sm-6 col-md-12 col-xl-6"> 
                    <div class="single-product-wrapper">
                        <!-- Product Image -->
                        <div class="product-img">
                            <img :src="product.image1" alt="">
                            <!-- Hover Thumb -->
                            <img class="hover-img" :src="product.image2" alt="">
                        </div>
                
                        <!-- Product Description -->
                        <div class="product-description d-flex align-items-center justify-content-between">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">
                                <div class="line"></div>
                                <p class="product-price">$ {[ product.price ]}</p>
                                <a :href="product.variant_url">
                                    <h6>{[ product.name ]}</h6>
                                </a>
                            </div>
                            <!-- Ratings & Cart -->
                            <!-- <div class="ratings-cart text-right">
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <div class="cart">
                                    <a href="cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="{% static 'img/core-img/cart.png' %}" alt=""></a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>  
                <!-- Single Product Area  END-->

            </div>

            <div class="row">
                <div class="col-12">
                    <!-- Pagination -->
                    <nav aria-label="navigation">
                        <ul class="pagination justify-content-end mt-50">

                            <li 
                            v-for="page in pages"
                            class="page-item"><a @click="pagenateProducts" class="page-link" href="#" :data-page="page">0{[page]}.</a></li>

                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div>
{% endblock %}


{% block scripts %}
    <!--  Here we load vue js making the entire page reactive 
        usind div id #vueApp from skeleton.html -->
    <script src="{% static 'js/vue.min.js' %}"></script>
    <script src="{% static 'js/axios.min.js' %}"></script>
    <script src="{% static 'js/vue_shop.js' %}"></script>
{% endblock %}